<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqbing.servicebing.repository.jihuc.dao.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.yqbing.servicebing.repository.jihuc.bean.SysDict" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="fldkey" property="fldkey" jdbcType="VARCHAR" />
    <result column="parent_key" property="parentKey" jdbcType="VARCHAR" />
    <result column="base_value" property="baseValue" jdbcType="VARCHAR" />
    <result column="extra_value" property="extraValue" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seq, fldkey, parent_key, base_value, extra_value, name, description, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yqbing.servicebing.repository.jihuc.dao.SysDictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_dict
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yqbing.servicebing.repository.jihuc.bean.SysDict" >
    insert into sys_dict (id, seq, fldkey, 
      parent_key, base_value, extra_value, 
      name, description, createtime
      )
    values (#{id,jdbcType=BIGINT}, #{seq,jdbcType=INTEGER}, #{fldkey,jdbcType=VARCHAR}, 
      #{parentKey,jdbcType=VARCHAR}, #{baseValue,jdbcType=VARCHAR}, #{extraValue,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yqbing.servicebing.repository.jihuc.bean.SysDict" >
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="fldkey != null" >
        fldkey,
      </if>
      <if test="parentKey != null" >
        parent_key,
      </if>
      <if test="baseValue != null" >
        base_value,
      </if>
      <if test="extraValue != null" >
        extra_value,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="fldkey != null" >
        #{fldkey,jdbcType=VARCHAR},
      </if>
      <if test="parentKey != null" >
        #{parentKey,jdbcType=VARCHAR},
      </if>
      <if test="baseValue != null" >
        #{baseValue,jdbcType=VARCHAR},
      </if>
      <if test="extraValue != null" >
        #{extraValue,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yqbing.servicebing.repository.jihuc.dao.SysDictExample" resultType="java.lang.Integer" >
    select count(*) from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqbing.servicebing.repository.jihuc.bean.SysDict" >
    update sys_dict
    <set >
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="fldkey != null" >
        fldkey = #{fldkey,jdbcType=VARCHAR},
      </if>
      <if test="parentKey != null" >
        parent_key = #{parentKey,jdbcType=VARCHAR},
      </if>
      <if test="baseValue != null" >
        base_value = #{baseValue,jdbcType=VARCHAR},
      </if>
      <if test="extraValue != null" >
        extra_value = #{extraValue,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqbing.servicebing.repository.jihuc.bean.SysDict" >
    update sys_dict
    set seq = #{seq,jdbcType=INTEGER},
      fldkey = #{fldkey,jdbcType=VARCHAR},
      parent_key = #{parentKey,jdbcType=VARCHAR},
      base_value = #{baseValue,jdbcType=VARCHAR},
      extra_value = #{extraValue,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>