<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqbing.servicebing.repository.database.dao.StoreUserBeanMapper" >
  <resultMap id="BaseResultMap" type="com.yqbing.servicebing.repository.database.bean.StoreUserBean" >
    <id column="store_id" property="storeId" jdbcType="INTEGER" />
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_state" property="userState" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="back1" property="back1" jdbcType="SMALLINT" />
    <result column="back2" property="back2" jdbcType="SMALLINT" />
    <result column="back3" property="back3" jdbcType="INTEGER" />
    <result column="back4" property="back4" jdbcType="INTEGER" />
    <result column="back5" property="back5" jdbcType="VARCHAR" />
    <result column="back6" property="back6" jdbcType="VARCHAR" />
    <result column="back7" property="back7" jdbcType="VARCHAR" />
    <result column="back8" property="back8" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    store_id, user_id, user_state, create_time, back1, back2, back3, back4, back5, back6, 
    back7, back8
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yqbing.servicebing.repository.database.abstracts.StoreUserBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_store_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBeanKey" >
    select 
    <include refid="Base_Column_List" />
    from tb_store_user
    where store_id = #{storeId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </select>
  
   <select id="selectByUSER3" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_store_user
    where store_id = #{storeId,jdbcType=INTEGER}
      and back1 = #{i,jdbcType=SMALLINT}
      and user_state = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBeanKey" >
    delete from tb_store_user
    where store_id = #{storeId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBean" >
    insert into tb_store_user (store_id, user_id, user_state, 
      create_time, back1, back2, 
      back3, back4, back5, 
      back6, back7, back8
      )
    values (#{storeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userState,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=INTEGER}, #{back1,jdbcType=SMALLINT}, #{back2,jdbcType=SMALLINT}, 
      #{back3,jdbcType=INTEGER}, #{back4,jdbcType=INTEGER}, #{back5,jdbcType=VARCHAR}, 
      #{back6,jdbcType=VARCHAR}, #{back7,jdbcType=VARCHAR}, #{back8,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBean" >
    insert into tb_store_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="back1 != null" >
        back1,
      </if>
      <if test="back2 != null" >
        back2,
      </if>
      <if test="back3 != null" >
        back3,
      </if>
      <if test="back4 != null" >
        back4,
      </if>
      <if test="back5 != null" >
        back5,
      </if>
      <if test="back6 != null" >
        back6,
      </if>
      <if test="back7 != null" >
        back7,
      </if>
      <if test="back8 != null" >
        back8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=SMALLINT},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=SMALLINT},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=INTEGER},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=INTEGER},
      </if>
      <if test="back5 != null" >
        #{back5,jdbcType=VARCHAR},
      </if>
      <if test="back6 != null" >
        #{back6,jdbcType=VARCHAR},
      </if>
      <if test="back7 != null" >
        #{back7,jdbcType=VARCHAR},
      </if>
      <if test="back8 != null" >
        #{back8,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yqbing.servicebing.repository.database.abstracts.StoreUserBeanExample" resultType="java.lang.Integer" >
    select count(*) from tb_store_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBean" >
    update tb_store_user
    <set >
      <if test="userState != null" >
        user_state = #{userState,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="back1 != null" >
        back1 = #{back1,jdbcType=SMALLINT},
      </if>
      <if test="back2 != null" >
        back2 = #{back2,jdbcType=SMALLINT},
      </if>
      <if test="back3 != null" >
        back3 = #{back3,jdbcType=INTEGER},
      </if>
      <if test="back4 != null" >
        back4 = #{back4,jdbcType=INTEGER},
      </if>
      <if test="back5 != null" >
        back5 = #{back5,jdbcType=VARCHAR},
      </if>
      <if test="back6 != null" >
        back6 = #{back6,jdbcType=VARCHAR},
      </if>
      <if test="back7 != null" >
        back7 = #{back7,jdbcType=VARCHAR},
      </if>
      <if test="back8 != null" >
        back8 = #{back8,jdbcType=VARCHAR},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqbing.servicebing.repository.database.bean.StoreUserBean" >
    update tb_store_user
    set user_state = #{userState,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=INTEGER},
      back1 = #{back1,jdbcType=SMALLINT},
      back2 = #{back2,jdbcType=SMALLINT},
      back3 = #{back3,jdbcType=INTEGER},
      back4 = #{back4,jdbcType=INTEGER},
      back5 = #{back5,jdbcType=VARCHAR},
      back6 = #{back6,jdbcType=VARCHAR},
      back7 = #{back7,jdbcType=VARCHAR},
      back8 = #{back8,jdbcType=VARCHAR}
    where store_id = #{storeId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>